<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/card.css" type="text/css">

    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../css/common.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<body>

    <div class="detail-full">
        <div class="div-flex__colal h-100">
            <div class="detail-body">
                <div class="modal-detail__img">
                    <img src="" alt="">
                </div>
                <div class="modal-detail__txt">
                    <div class="modal-detail__info">
                        <div class="margin-bottom_2r">
                            <div>
                                <h1 id="product-title">Title</h1>
                            </div>
                            <div>
                                Highest bid
                            </div>
                        </div>
                        <div class="margin-bottom_2r">
                            <span>
                                product text
                            </span>
                        </div>
                        <!-- 소유자 flex-row -->
                        <div class="div-flex__jsb margin-bottom_1r">
                            <div class="modal-txt__owner">
                                <div class="modal-txt__small">
                                    <span>Owner</span>
                                </div>
                                <div>
                                    <span>Blossom</span>
                                </div>
                            </div>
                            <div class="modal-txt__patnum">
                                <div class="modal-txt__small">
                                    <span>Patent Number</span>
                                </div>
                                <div>
                                    <span>123423423352</span>
                                </div>
                            </div>
                        </div>

                        <div class="div-flex__jsc margin-bottom_1r">
                            <a href="#" class="modal-info__btn">
                                <div class="modal-info__title">
                                    <span>more detail info</span>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>